<div id="title">
	<h2>
		<%= "Talk to Us!" %>
	</h2>
</div>

<div id="body">
	<%= link_to "Our Blog", 'http://blog.inigral.com' %>
	<%= link_to "Our Facebook", 'http://www.facebook.com/inigral' %>
	<%= link_to "Our Twitter", 'http://www.twitter.com/inigral' %>
	<%= link_to "Ryan's Blog", 'http://toconfuseryan.blogspot.com/' %>
	<%= link_to "Ryan's Twitter", 'http://www.twitter.com/thelazyface' %>
</div>
