<div id="title">
	<h2>
		<%= "Talk to Us!" %>
	</h2>
</div>

<div id="body">
	<ul class="navigation round">
		<li><%= link_to "Our Blog", 'http://blog.inigral.com' %></li>
		<li><%= link_to "Our Facebook", 'http://www.facebook.com/inigral' %></li>
		<li><%= link_to "Our Twitter", 'http://www.twitter.com/inigral' %></li>
		<li><%= link_to "Ryan's Blog", 'http://toconfuseryan.blogspot.com/' %></li>
		<li><%= link_to "Ryan's Twitter", 'http://www.twitter.com/thelazyface' %></li>
	</ul>
</div>
